:root {
    --light-bg: #f0f0f0;
    --dark-bg: #00020e;
    --light-text: #dadada;
    --text-select: rgba(7, 89, 197, 0.07);
}

::selection {
    background: var(--text-select);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor: url("data:image/svg+xml,%3Csvg width='8' height='8' style='filter:drop-shadow(0 0 1rem white)' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23777474'/%3E%3C/svg%3E%0A") 4 4, auto !important; */
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-bg);
    overflow: hidden;
}

body main {
    width: min(80vw, 40rem);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    animation: appearIn 1.5s ease-in-out 1;
    z-index: 2;
    transition: all 0.5 ease;
}

body main p {
    font-weight: 300;
    font-size: 1.15rem;
    cursor: default;
}

@keyframes appearIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 420px) {
    body {
        height: 100dvh;
    } 
	
	body main p {
        font-size: 0.95rem;
    }
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    transition: 500ms all ease-in-out;
}

a {
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
    color: inherit;
}

#magic a {
    cursor: none !important;
}

:root {
    --transition-time: 1s; /* default; is being synced automatically in script.js */
    --circle-diameter: 3rem;
}

.circle {
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    position: absolute;
    background: radial-gradient(circle, rgb(241, 241, 241) 50%, rgb(255, 255, 255) 100%);
    border-radius: 50%;
    animation: circleZoomIn var(--transition-time) ease-in-out infinite;
    -webkit-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
    -moz-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
    box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.14) inset;
}

@keyframes circleZoomIn {
    0% {
        opacity: 0;
    }
    
    30% {        
        opacity: 1;
    }
    
    100% {
        transform: scale(12);
        opacity: 0;
    }
}
